<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894025729971-9jc4h5vd8u698uk0msm38i3hnvtpt4nb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894025729971-9jc4h5vd8u698uk0msm38i3hnvtpt4nb</string>
	<key>API_KEY</key>
	<string>AIzaSyCuSol9wK9p95Jwvq0VmHLc9dv0IveU4cA</string>
	<key>GCM_SENDER_ID</key>
	<string>894025729971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alZuman.expenseTracker</string>
	<key>PROJECT_ID</key>
	<string>expense-tracker-8d091</string>
	<key>STORAGE_BUCKET</key>
	<string>expense-tracker-8d091.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894025729971:ios:4ca3d85d6521b34c4fedc6</string>
</dict>
</plist>